In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
X_train = pd.read_csv("Linear_X_Train.csv")
Y_train = pd.read_csv("Linear_Y_Train.csv")

In [3]:
print("X_train.info()::")
X_train.info()
print("\n\n\n\nY_train.info()::")
Y_train.info()

X_train.info()::
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750 entries, 0 to 3749
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       3750 non-null   float64
dtypes: float64(1)
memory usage: 29.4 KB




Y_train.info()::
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750 entries, 0 to 3749
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       3750 non-null   float64
dtypes: float64(1)
memory usage: 29.4 KB

In [4]:
print("X_train::")
X_train.head()

X_train::

          x
0 -0.289307
1 -0.588810
2  1.027507
3 -0.259013
4  0.782043

In [5]:
print("Y_train")
Y_train.head()

Y_train

           y
0  -0.091101
1 -53.467721
2  75.457009
3 -12.025286
4  57.414187

In [6]:
X_train.describe()

                 x
count  3750.000000
mean     -0.037795
std       0.992212
min      -3.546299
25%      -0.698443
50%      -0.035028
75%       0.629425
max       4.091393

In [7]:
Y_train.describe()

                 y
count  3750.000000
mean      0.683869
std      81.102629
min    -286.959739
25%     -54.036989
50%       0.180640
75%      54.695511
max     348.899461

In [8]:
X_train["isnull_test"]=X_train["x"]*2

In [9]:
X_train["isnull_test"][0]=np.nan

In [22]:
X_train.head()

          x  isnull_test
0 -0.289307          NaN
1 -0.588810    -1.177619
2  1.027507     2.055015
3 -0.259013    -0.518026
4  0.782043     1.564086

In [21]:
X_train.isnull().sum()

x              0
isnull_test    1
dtype: int64

In [23]:
X_train.dropna(axis=0,inplace=True)

In [25]:
X_train.isnull().sum()

x              0
isnull_test    0
dtype: int64

In [28]:
X_train["x"][0:10] = np.nan

In [29]:
# if data is not skewed
X_train['x'].fillna(value=X_train["x"].mean(), inplace = True)

In [30]:
X_train.mean()

x             -0.038140
isnull_test   -0.075455
dtype: float64

In [31]:
X_train.head()

         x  isnull_test
1 -0.03814    -1.177619
2 -0.03814     2.055015
3 -0.03814    -0.518026
4 -0.03814     1.564086
5 -0.03814    -3.350460