In [1]:
import seaborn as sns
iris = sns.load_dataset("iris")

In [7]:
people = {
    "First": ["Corey", 'Jane', 'John'], 
    "Last": ["Schafer", 'Doe', 'Doe'], 
    "Email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

import pandas as pd
df = pd.DataFrame(people)

In [9]:
df.columns = [x.lower() for x in df.columns]

In [10]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

##### Changing column names

In [11]:
df.columns = ["Hi","Hello","Namaste"]
df

                        Hi  Hello  Namaste
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [12]:
df.columns = ['email','first_name', 'last_name']
df

                     email first_name last_name
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@email.com       Jane       Doe
2        JohnDoe@email.com       John       Doe

In [13]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']

In [20]:
filt = (df['email'] == 'JohnDoe@email.com')
print(filt)
display(df[filt])
df[filt]["last"] = "Smith"

0    False
1    False
2     True
Name: email, dtype: bool

               email  first last
2  JohnDoe@email.com  Smith  Doe

C:\Users\saksh\anaconda3\envs\PracticeENV\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [21]:
df.apply(lambda x: x.min())

email    CoreyMSchafer@gmail.com
first                      Corey
last                         Doe
dtype: object

In [ ]:
df.drop